---
layout: page
title: Projects
---
<div class="project">
  <div class="profile">
    <div class="profile-essentials">
      <picture><img src="/images/shinninja.jpg"></picture>
      <p class="name">Dahye Shin</p>
    </div>

    <div class="profile-info">
      <dl class="profile-skills">
        <dt>Skills</dt>
        <dd>
          <ul class="profile-skills-list">
            <li><img src="/images/icon/icon_skill_SW.png" class="logo"></li>
            <li><img src="/images/icon/icon_skill_css3.png" class="logo"></li>
            <li><img src="/images/icon/icon_skill_html5.png" class="logo"></li>
            <li><img src="/images/icon/icon_skill_JS.png" class="logo"></li>
            <li><img src="/images/icon/icon_skill_jquery.png" class="logo"></li>
            <li><img src="/images/icon/icon_skill_zeplin.png" class="logo"></li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  <div class="project-list">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
  {% for post in site.posts %}
    <div class="archive-list-post">
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}  
        <span class="archive-list-post-title">
          {{ post.title }}
        </span>
        <span class="archive-list-post-date">
          <time>| {{ post.date | date_to_string }}</time>
        </span>
      </a>
    </div>
  {% endfor %}
  {% endif %}
  </div>
</div>
