* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 48rem;
  padding: 5rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}


/*--------------
  Header
  -------------- */
.header {
  position: relative;
  padding: 2%;
  margin-bottom: 1.5em;

  &-title {
    margin: 0.3em 0;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
    font-family: 'Cormorant',Courier,serif;

    a {
      color: $base-color;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: $oc-gray-5;
    }

  }

  &-nav {
    position:absolute;
    top:50%;
    right:1rem;
    transform:translateY(-50%);

    a {
      position:relative;
      display:inline-block;
      color: $oc-gray-7;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-left:20px;
      font-size: 0;

      &:hover,
      &:focus {
        color: $oc-gray-7;
        text-decoration: none;
      }
      &:first-child {margin-left:0;}

      &:before {content:"";display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;background-size:100%;}
      &:nth-child(1):before {background-image:url('/images/icon/icon_prj.png');}
      &:nth-child(2):before {background-image:url('/images/icon/icon_archive.png');}
      &:nth-child(3):before {background-image:url('/images/icon/icon_github.png');}
    }
    
  }
}

.header-small {
  text-align: left;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $base-color;font-family:'Cormorant',Courier,serif;letter-spacing:5px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing:2px;
  }
}


/*--------------
  Post
  -------------- */
.post {

  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }

  &-date {
    margin-bottom: .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    text-transform: uppercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }

        a:visited {
          background-color: $oc-gray-5;
        }

        a:visited:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-disqus {
    margin-top: 4rem;
  }

}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    
    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}


/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: $base-color;
      text-decoration: none;
      background-color: $background-over-color;
      border-color: transparent;
      }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}

/*--------------
  Projects
  -------------- */
  .project {
    .profile {
      display:flex;flex-wrap:wrap;border-radius:6px;border:$border-gray-1;box-shadow:1px 1px 1px rgba(0,0,0,0.07);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.07);
      
      &-essentials {
        flex:1;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding:20px 0;

        picture {display:block;overflow:hidden;width:80px;height:80px;margin:0 auto;border-radius:50%;
          img {position:relative;top:-10px;left:0;}
        }

        .name {font-size:20px;font-weight:bold;color:$oc-gray-7;}
      }

      &-info {flex:2;padding:20px 30px;border-left:$border-gray-1;}

      &-skills {
        dt {margin-bottom:10px;font-size:13px;font-weight:bold;text-transform:uppercase;color:$oc-gray-5;}

        &-list {
          li {
            display:inline-block;margin-left:4px;padding:4px 8px 6px;color:$oc-gray-7;border:1px solid #ddd;border-radius:4px;font-size:$base-font-size-s;

            &:first-child {margin-left:0;}
          }
          .logo {width:60px;height:60px;}
        }
      }
    }

    &-cont {
      overflow:hidden;margin-top:30px;

      &-list {
        display:flex;flex-wrap:wrap;margin:-10px -5px 0;

        li {
          display:flex;flex-basis:50%;margin-top:10px;padding:0 5px;box-sizing:border-box;

          .box {display:flex;flex-wrap:wrap;padding:15px;width:100%;box-sizing:border-box;align-items:center;border:$border-gray-1;box-shadow:0 2px 1px rgba(0,0,0,0.07);-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.07);}
          .img {flex:1;}
          .discrip {flex:3;padding:10px 20px;word-break:keep-all;}
          .discrip > p {line-height:1.5;font-size:$base-font-size-s;color:$oc-gray-5;}
          .discrip .name {margin-bottom:5px;font-weight:bold;font-size:$base-font-size-sm;color:$oc-gray-6;}
        }
      }
    }

    @media (max-width: 48rem){
      padding: 2rem 1.3rem;
    }
 }


/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}
