@charset "utf-8";

/* ==========================================================================
   layout 
   ========================================================================== */
.material-wrap {position:relative;height:100vh;padding:20px;color:#fff;background:#06163e;font-family:'Roboto Mono', monospace;}
.material-list {display:flex;flex-wrap:wrap;}
.material-item {flex:auto;margin:10px;width:25%;max-width:400px;padding:30px;border:1px solid #71a6ff;border-radius:10px;}
.material-box {overflow:hidden;color:#ccc;}
.material-img {margin-bottom:20px;}
.material-img img {width:100%;}
.material-inner {position:relative;min-height:44px;}
.material-inner__tit {padding-top:10px;font-size:24px;}
.material-inner .btn {position:absolute;top:0;right:0;}
@media screen and (max-width:768px) {
    .material-item {width:50%;max-width:100%;}
    .material-inner__tit {padding-top:0;font-size:5vw;}
}

/* ==========================================================================
   head
   ========================================================================== */
.material-container {padding:20px;font-family:'Roboto Mono', monospace;}
.material-container h1 {margin-bottom:30px;font-size:26px;}
.material-container h2 {margin-bottom:20px;font-size:18px;}

/* ==========================================================================
   common
   ========================================================================== */
hr.divider {height:1px;margin:50px -20px;background:#ccc;}
.btn {display:inline-block;height:56px;padding:0 50px;background:#f56147;border:1px solid #f56147;font-size:24px;border-radius:2px;line-height:24px;text-align:center;color:#fff;line-height:54px;transition:color .2s ease,background-color .2s ease,border-color .2s ease;-webkit-transition:color .2s ease,background-color .2s ease,border-color .2s ease;}
.btn.btn-s {height:44px;padding:0 12px;line-height:42px;font-size:18px;}
.btn:link
.btn:visited,
.btn:hover,
.btn:active,
.btn:focus {color:#fff;}
.btn:hover {background-color:#f34122;border-color:#f34122;color:#fff;}


/* transition */
.transition {
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
 }


/* ==========================================================================
accordion 
========================================================================== */
.accordion_list {width:300px;background:#fff;}
.accordion_list .js-accordion__btn {position:relative;display:block;width:100%;height:50px;padding:0 20px;line-height:48px;border:1px solid #ccc;outline:none;text-align:left;font-size:14px;}
.accordion_list .js-accordion__btn:after {content:"";position:absolute;top:50%;right:20px;width:17px;height:10px;margin-top:-5px;background:url(../../images/icon/icon_arr_bottom.png) no-repeat 0 0 / 100%;transition:transform .5s;}
.accordion_list > li {margin-top:5px;}
.accordion_list > li > .js-accordion__btn:only-child:after {display:none;}
.accordion_list > li .depth2 {display:none;}
.accordion_list > li .depth2 > li {padding:0 20px;line-height:30px;border-bottom:1px solid #ccc;}
.accordion_list > li .depth2 .menu_txt {color:#929292;}
.accordion_list .js-accordion__item.active .js-accordion__btn:after {transform:rotate(180deg);}

/* ==========================================================================
   tab 
   ========================================================================== */
.jsTabWrap .jsTabHead:after {clear:both;display:block;content:"";}
.jsTabWrap .jsTabHead > li {float:left;}
.jsTabWrap .jsTabCont {display:none;}
.jsTabWrap .jsTabCont.on {display:block;}

/* tab - box fill */
.tabBoxFill .jsTabHead {display:table;width:100%;border-bottom:2px solid #000;margin-bottom:40px;}
.tabBoxFill .jsTabHead > li {display:table-cell;float:none;height:56px;width:calc(100% / 3);}
.tabBoxFill .jsTabHead > li a {display:block;text-align:center;border-top:1px solid #ebebeb;border-right:1px solid #ebebeb;line-height:55px;color:#030000;font-size:16px;}
.tabBoxFill .jsTabHead > li:first-child a {border-left:1px solid #ebebeb;}
.tabBoxFill .jsTabHead > li.on a {background:#000;color:#fff;font-weight:bold;border-color:#000;}

/* tab - box line */
.tabBoxLine .jsTabHead {border-bottom:1px solid #000;margin-bottom:40px;}
.tabBoxLine .jsTabHead > li {position:relative;height:56px;width:250px;margin-left:-1px;}
.tabBoxLine .jsTabHead > li:first-of-type {margin-left:0;}
.tabBoxLine .jsTabHead > li button {position:relative;display:block;width:100%;color:#030000;line-height:55px;font-size:16px;border:1px solid #ebebeb;border-bottom:none;}
.tabBoxLine .jsTabHead > li button.on {border-color:#000;border-bottom:1px solid #fff;z-index:1;}

/* tab - inline text */
.tabInlineText .jsTabHead {margin-bottom:25px;}
.tabInlineText .jsTabHead > li {margin-left:25px;}
.tabInlineText .jsTabHead > li:first-child {margin-left:0;}
.tabInlineText .jsTabHead > li.on > a {color:#000;}

/* ==========================================================================
   list
   ========================================================================== */
.listStar > li {position:relative;}
.listStar > li:before {content:"";display:inline-block;width:24px;height:24px;background:url(../../images/icon/icon_star.svg) no-repeat 0 0;background-size:100%;}

/* ==========================================================================
   하단 네비 애니메이션 
   ========================================================================== */
.bottom_nav_wrap {min-height:670px;background:gray;}
.hm-app__bottom-nav-inner { z-index: 100; position: fixed; left: 0; right: 0; bottom: 0; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.685, 0, 0.255, 1); transition: -webkit-transform 0.2s cubic-bezier(0.685, 0, 0.255, 1); transition: transform 0.2s cubic-bezier(0.685, 0, 0.255, 1); transition: transform 0.2s cubic-bezier(0.685, 0, 0.255, 1), -webkit-transform 0.2s cubic-bezier(0.685, 0, 0.255, 1); background: #fff; /* border-top: 1px solid #ededed;  */}
.hm-bottom-nav { display: -webkit-box; display: -ms-flexbox; display: flex; background: #fff; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; z-index: 3; border-top:1px solid #ddd;}

.hm-bottom-nav__item {flex:1;height:61px;text-align:center;}
.hm-bottom-nav__link {display:block;position:relative;height:100%;margin-top:5px;padding-top:32px;text-align:center;}
.hm-bottom-nav__link:before {content: '';display:block;position:absolute;top:0;left:50%;width:32px;height:32px;background-position:0 0;background-size: 100%;transform:translateX(-50%);}
.hm-bottom-nav__link--service {width:100%;padding-top:0;}
.hm-bottom-nav__link--service:before {width:24px;height:24px;margin-top:3px;background-image:url(../../images/demo/icon/bottom_nav_motion.png);}
/* .hm-bottom-nav__link--service:before {width:24px;height:24px;margin:3px auto 0;background-image:url(../img/icon/nav/bottom_nav_motion.png);animation-duration:1.5s;animation-name:service;animation-iteration-count: infinite;animation-direction: alternate;} */
@keyframes dimm-show { from { opacity: 0; }
  to { opacity: 1; } 
}

.hm-bottom-nav__service-item {position:relative;display:block;height:100%;padding-top:32px;}
.hm-bottom-nav__service-item:before,
.hm-bottom-nav__service-item:after {content:"";position:absolute;left:50%;display:block;background-size:100%;background-repeat:no-repeat;background-position:0 0;}

.hm-bottom-nav__service-item--talk:before {top:14px;width:13px;height:3px;transform:translateX(-50%);background-image:url(../../images/demo/icon/bottom_nav_motion_talk.png);background-size:13px 3px;}

.hm-bottom-nav__service-item--voice {display:none;}
.hm-bottom-nav__service-item--voice:before {top:9px;margin-left:-10px;width:7px;height:12px;background-image:url(../../images/demo/icon/bottom_nav_motion_face.png);}
.hm-bottom-nav__service-item--voice:after {top:8px;margin-left:-19px;width:5px;height:11px;background-image:url(../../images/demo/icon/bottom_nav_motion_voice.png);}

/* floating */
.hm-app__bottom-nav .hm-app__dimm {z-index:99;}

.hm-bottom-floating__service {display:none;position:absolute;bottom:23px;right:16px;}
.hm-bottom-floating__service.hm-bottom-floating__service--active {display:block;}
.hm-bottom-floating__service--active .hm-bottom-floating__service-item.item-voice {
    animation:floatingTalk .2s forwards ease-in-out;
    -webkit-animation:floatingTalk .2s forwards ease-in-out;
}
.hm-bottom-floating__service--active .hm-bottom-floating__service-item.item-talk {
    animation:floatingShopping .2s forwards ease-in-out;
    -webkit-animation:floatingShopping .2s forwards ease-in-out;
}
.hm-bottom-floating__service--close:after {content:"";position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:46px;height:46px;margin-top:-6px;background:#fff url(../img/icon/nav/bottom_float_close.png) no-repeat 0 0;background-size:100%;}

.hm-bottom-floating__service-item {position:absolute;right:0;bottom:0;height:58px;}
.hm-bottom-floating__service-item.item-voice {bottom:70px;}
.hm-bottom-floating__service-link {position:relative;width:176px;padding-left:50px;box-sizing:border-box;background:#fff;border-radius:60px;text-align:left;display:flex;height:100%;flex-direction:column;justify-content:center;}
.hm-bottom-floating__service-link > p {margin:0;letter-spacing:-.5px;}
.hm-bottom-floating__service-link .item-tit {font-size:14px;font-weight:bold;}
.hm-bottom-floating__service-link .item-txt {font-size:12px;}
.hm-bottom-floating__service-link:after {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);background-size:100% !important;background-repeat:no-repeat;background-position:0 0;}
.hm-bottom-floating__service-link.link-voice {color:#1e72df;}
.hm-bottom-floating__service-link.link-voice:after {left:7px;width:37px;height:28px;background-image:url(../../images/demo/icon/bottom_float_voice.png);}
.hm-bottom-floating__service-link.link-talk {color:#f63879;}
.hm-bottom-floating__service-link.link-talk:after {left:14px;width:28px;height:28px;background-image:url(../../images/demo/icon/bottom_float_talk.png);}



@keyframes floatingTalk {
    from { bottom:105px;opacity:0; }
    to { bottom:117px;opacity:1; }
}
@-webkit-keyframes floatingTalk {
    from { bottom:105px;opacity:0; }
    to { bottom:117px;opacity:1; }
}
@keyframes floatingShopping {
    from { bottom:47px;opacity:0; }
    to { bottom:52px;opacity:1; }
}
@-webkit-keyframes floatingShopping {
    from { bottom:47px;opacity:0; }
    to { bottom:52px;opacity:1; }
}

